@font-face {
  font-family: Nohemi;
  font-display: block;
  src: url(./fonts/Nohemi-VF.ttf);
}

:root {
  --neutral-900: #161413;
  --neutral-200: #D8D6D5;
  --neutral-100: #F9F5F1;
  --accent: #FF871F
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Nohemi';
  font-style: normal;
  color: var(--neutral-900);
  text-decoration: none;
}

body {
  background: var(--neutral-100);
  padding: 48px;
}


/* Type Styles */

h1 {
  font-weight: 300;
  font-size: 75px;
  line-height: 80px;
  letter-spacing: -0.024em;
  hanging-punctuation: first last;
}

h4 {
  font-weight: 500;
  font-size: 19px;
  line-height: 24px;
  letter-spacing: -0.024em;
  text-transform: uppercase;
  color: var(--neutral-200);
}


.nav-link, .tag {
  font-family: 'Sometype Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 24px;
  text-align: right;
  letter-spacing: -0.024em;
  text-decoration: underline;
  text-transform: uppercase;
  text-align: right;
}

.project-title {
  font-size: 12.2vw;
  line-height: 100%;
  letter-spacing: -0.024em;
  text-transform: uppercase;
  text-decoration: none;
}



/* Utility Classes */

.grid {
  display: grid;
}

.column {
  display: flex;
  flex-direction: column;
}

.columns-4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}


.spacer-144 {
  height: 144px;
}

.spacer-96 {
  height: 96px;
}

.spacer-64 {
  height: 64px;
}

.spacer-48 {
  height: 48px;
}

.gap-24 {
  gap: 24px;
}

.gap-48 {
  gap: 48px;
}

/* Misc */

.old-projects .project-title {
  color: var(--neutral-200);
}

.project-link {
  display: flex;
}

.tag {
  padding: 4px 12px;
  background: var(--accent);
  border-radius: 16px;
  height: fit-content;
  margin: 8px 0 0 12px;
  text-decoration: none;
}